input {
    height: 25px;
    display: flex;
    border-radius: 18px;
    width: 90%;
    flex: 1;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 4rem;
  }
  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  